<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Pi-Injector</display-name>

	<servlet>
		<servlet-name>TestNew</servlet-name>
		<servlet-class>servlet.TestNew</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestDisplay</servlet-name>
		<servlet-class>servlet.TestDisplay</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestRunning</servlet-name>
		<servlet-class>servlet.TestRunning</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TestNew</servlet-name>
		<url-pattern>/test-new-form</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestDisplay</servlet-name>
		<url-pattern>/test-display-form</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestRunning</servlet-name>
		<url-pattern>/test-running-form</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
